/FontRendererWPF/bin/Debug/FontRendererWPF.exe
/FontRendererWPF/bin/Debug/FontRendererWPF.exe.config
/FontRendererWPF/bin/Debug/FontRendererWPF.pdb
/FontRendererWPF/bin/Debug/FontRendererWPF.vshost.exe
/FontRendererWPF/bin/Debug/FontRendererWPF.vshost.exe.config
/FontRendererWPF/bin/Debug/FontRendererWPF.vshost.exe.manifest
/FontRendererWPF/bin/Debug/image.png
/FontRendererWPF/bin/Debug/WpfColorFontDialog.dll
